body{
    height: 100vh;
    display:flex;

    justify-content: center;
    /* align-items: end; */
    align-items: center;
 

}
 .div1,.div2,.div3,.div4,.div5{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    background-color: blue;
    animation-duration: 0.5s;
  

    
}
@keyframes bounce{
    from{

    }
    to{
        transform:translate(0,-20px);
    }
}
.div2{
 
    animation-duration: 0,4s;
    animation-delay: 0.5s;
  

    
}
@keyframes bounce{
    from{

    }
    to{
        transform:translate(0,-20px);
    }
}
.div3{
   
    animation-duration: 0.4s;
    animation-delay: 0.1s;
  

    
}
@keyframes bounce{
    from{

    }
    to{
        transform:translate(0,-20px);
    }
}
.div4{
    
    animation-duration: 0,2s;
    animation-delay: 0.15s;
  

    
}
@keyframes bounce{
    from{

    }
    to{
        transform:translate(0,-20px);
    }
}
.div5{

    animation-duration: 0,4s;
    animation-delay: 0.2s;
  

    
}
@keyframes bounce{
    from{

    }
    to{
        transform:translate(0,10px);
    }
}
.div6{
    animation-duration: 0,3s;
    animation-delay: 0.3s;
}


